:root  /* for storing variables */
{
  --default-padding: 50px;
  --background-color: #efefef;
}

img
{
  background-color: #fff;
}

.container
{
	min-height: 100%;
}

.container img 
{ /*limit img size based on container's size */
  max-height: 80%;
  max-width: 80%;
}

.navbar
{
  color: #bbb;
  background-color: #fff;
}

.navbar a
{
  color: #bbb;
  font-weight: bold;
  text-transform: uppercase;
  /*margin-left: 10px;*/
}

.navbar li
{
  display: inline;
}

/* changes color of active navbar */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus 
{
  background-color: #fff;
  color: #000;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus 
{
    background-color: #FFF; /*hover bg color */
    color: #F55; /*text hover color */
}

body 
{
  padding-top: var(--default-padding); /*(non)-Default navbar height padding*/
  height: 100%;
}


.projects-browser
{
  padding-top: 100px;
  padding-bottom: var(--default-padding);
  background-color: var(--background-color);
  /*color: #00f; /*text color*/
  text-align: center;
  text-transform: uppercase;
  
}
@media only screen and (max-width: 991px) /*when screen less than 991px */
{
  .container img 
  {
    max-height: 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 769px) /*when screen less than 769px */
{
  .container img 
  {
    max-height: 100%;
    max-width: 100%;
  }
}

.projects-browser img:hover /*work on this so it fades white, not to background color */
{
  background-color: #000;
  color: #000;
  opacity: .7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.project1, .project2, .project3
{
  padding-top: var(--default-padding);
  background-color: var(--background-color);
}

.project1 h4, .project2 h4, .project3 h4
{
  text-align: center;
}

footer
{
  font-size: 12px;
  text-align: center;
  padding: 10px 10px;
}